.card {
  display: flex;
  margin-bottom: 1em;
  border: solid 1px rgb(3, 4, 29);
  border-radius: 8px;
  overflow: hidden;
  transition: 0.4s;

  img {
    width: 90px;
    height: 90px;
    object-fit: contain;
  }

  img:hover {
    cursor: pointer;
  }

  h5 {
    font-size: 0.2em;
    font-weight: 100;
    letter-spacing: 2px;
  }

  h3 {
    font-size: 0.6em;
    margin: 0;
  }

  p {
    font-size: 0.8em;
    font-style: italic;
  }

  span {
    font-weight: 900;
  }
}

.rated-planete {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8em;
}

.best-sale {
  padding: 0.5em;
  background-color: rgba(30, 40, 185, 0.578);
  color: white;
  text-align: center;
  position: absolute;
  font-size: 0.6em;
  font-weight: 200;
}

.head-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.4em;
}

.planete-content {
  padding: 0.8em;
  background-color: rgb(3, 4, 29);
  width: 100%;
}

.book {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .card {
    img {
      width: 160px;
      height: 160px;
    }

    h5 {
      font-size: 0.6em;
      font-weight: 100;
      letter-spacing: 2px;
    }

    h3 {
      font-size: 1.2em;
    }

    .planete-content {
      padding: 0 1em;
    }

    .head-content {
      margin-bottom: 0;
    }

    .best-sale {
      font-size: 0.8em;
    }
  }
}
