body {
  margin: 0;
  background-color: black;
  color: white;
}

.container {
  margin : 0 4em;
}

h1 {
  font-family: 'Gruppo', sans-serif;
}

* {
  font-family: 'Roboto', sans-serif;
}

.titleLink {
  margin: 1em 0;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .titleLink {
    font-size: 1.6em;
  }
}
